<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VM Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>


<body class="vmbg">
<br>
<form method="POST" id="carform">
    <label for="uname">Enter the VM name:</label>
    <input type="text" id="uname" name="uname">
    <br>
    <br>
    <br>
    <select id="zone" name="zone">
        <option value="us-central1-a">Default</option>
        <option value="asia-east1-a">asia-east1-a</option>
        <option value="asia-east1-b">asia-east1-b</option>
        <option value="europe-north1-a">europe-north1-a</option>
        <option value="europe-west1-b">europe-west1-b</option>
        <option value="us-east1-c">us-east1-c</option>
        <option value="us-west1-a">us-west1-a</option>

    </select>
    <br>
    <br>
    <br>
    <br>

    <select id="machine_type" name="machine_type">
        <option value="n2-standard-2">Default</option>
        <option value="e2-standard-2">e2-standard-2</option>
        <option value="e2-standard-4">e2-standard-4</option>
        <option value="e2-standard-8">e2-standard-8</option>
        <option value="c2-standard-4">c2-standard-4</option>
        <option value="c2-standard-8">c2-standard-8</option>
        <option value="c2-standard-16">c2-standard-16</option>
        <option value="m1-ultramem-40">m1-ultramem-40</option>
        <option value="m1-ultramem-80">m1-ultramem-80</option>
        <option value="m1-ultramem-160">m1-ultramem-160</option>
    </select>
    <br>
    <br>
    <br>
    <br>
    <select id="OS_image" name="OS_image">
        <option value="debian-cloud/debian-9">Default</option>
        <option value="centos-cloud/centos-7">centos-cloud/centos-7</option>
        <option value="centos-cloud/centos-8">centos-cloud/centos-8</option>
        <option value="debian-cloud/debian-9">debian-cloud/debian-9</option>
        <option value="debian-cloud/debian-10">debian-cloud/debian-10</option>
        <option value="rhel-cloud/rhel-7">rhel-cloud/rhel-7</option>
        <option value="rhel-cloud/rhel-8">rhel-cloud/rhel-8</option>
        <option value="windows-sql-cloud/sql-std-2017-win-2019">windows-sql-cloud/sql-std-2017-win-2019</option>
        <option value="windows-sql-cloud/sql-std-2019-win-2019">windows-sql-cloud/sql-std-2019-win-2019</option>
        <option value="windows-cloud/windows-2016">windows-cloud/windows-2016</option>

        <option value="windows-cloud/windows-2019">windows-cloud/windows-2019</option>


    </select>

    <input type="submit" value="Create">
</form>


</body>
</div>
</html>